<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="AddRoles">
    <div class="mb-3">
        <select class="form-control" name="role" id="role">
            <option value="ADMINISTRATOR">Administrator</option>
            <option value="DELIVERER">Deliverer</option>
            <option value="CONSUMER">Consumer</option>
        </select>
    </div>
    <div class="mb-3">
        <input type="submit" value="Add Role">
    </div>
</form>