@{
    ViewData["Title"] = "SignUp";
}
<head>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center h3">
                    Sign In
                </div>
                <partial name="../Shared/_SignInForm.cshtml" />
            </div>
        </div>
    </div>
</body>
